.batallas {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
    max-height: 50vh;
    min-height: 30vh;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
}

.batalla {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
    padding: 0 0 40px 0;
    text-align: center;
}

.batalla .card__creator {
    color: var(--batallas-card-creator-color);
    margin-bottom: 20px;
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
    max-height: 400px;
    margin: auto;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.4s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    top: 0; 
}

.card {
    color: var(--batallas-card-color);
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: var(--batallas-card-background-color);
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--batallas-card-box-shadow);
}

.card__info {
    z-index: 2;
    background-color: var(--batallas-card-info-background-color);
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--batallas-card-category-color);
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__author {
    text-decoration: none;
    color: var(--batallas-card-author-color);
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.error_batallas {
    width: 50%;
    margin: auto;
    position: relative;
    background-color: var(--batallas-error-batallas-background-color);
    padding: 20px 200px;
    border-radius: 20px;
    top: 40%;
    transform: translateY(-40%);
    color: var(--batallas-error-batallas-color);
    text-align: center;
}