.faq-container {
    width: 50%;
    margin: auto;
}

.faq-h1 {
    color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    font-size: 40px;
    overflow: hidden;
    line-height: 100px;
    text-align: center;
    background-color: var(--body-background);
    z-index: 2;
    box-shadow: 0px 50px 40px -40px #00000080;
}

.questions {
    z-index: 1;
    padding-bottom: 100px;
}

.questions .faq .faq-title {
    color: white;
    text-align: center;
    top: 100px;
    padding: 50px 40px 20px 40px;
}

.questions .faq .faq-answer {
    color: white;
    padding: 50px;
    text-align: justify;
}

.questions .faq .faq-answer ul {
    margin-left: 50px;
}

.questions .como_hr {
    border-color: #ffffff20;
    width: 75%;
    margin: auto;
}