.perfil_container {
    color: #fff;
    display: flex;
    height: 70vh;
    width: 90vw;
}

.perfil_aside {
    display: inline-block;
    height: 100%;
    width: 20vw;
    padding: 3em 1em 0 1em;
}

.perfil_aside h2, .perfil_aside .perfil_datos {
    text-align: center;
    padding: 0;
}

.perfil_aside .foto_perfil {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 30px auto 30px auto;
}

.perfil_aside .perfil_stats_hr {
    width: 70%;
    margin: 20px auto;
    border-color: var(--settings-h2-border-color);
}

.perfil_aside table {
    border-collapse: collapse;
    width: 100%;
}

.perfil_aside table td:first-of-type {
    padding: 5px 0;
    text-align: right;
}

.perfil_aside table td:nth-child(2) {
    width: 30%;
    padding: 5px 10px;
}

.perfil_main {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.perfil_wrapper {
    top: 0;
    width: 100%;
    height: 100%;
}

.perfil_main_tabs {
    position: relative;
    height: 100%;
}

.pmt {
    float: right;
}

.pmt-switch {
    display: none;
}

.pmt-label {
    display: block;
    line-height: 3em;
    height: 3em;
    padding: 0 15px;
    background: #0987db;
    border-right: 1px solid #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s;
}

.pmt-content {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 30px;
    left: 0;
    box-shadow: inset 1px 1px 0px 0px var(--settings-h2-border-color);
    color: #fff;
    opacity: 0;
    transition: all 0.35s;
}

.pmt-switch:checked + .pmt-label {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: all 0.35s;
    z-index: 1;
}

.pmt-switch:checked + label + .pmt-content {
    opacity: 1;
    transition: all 0.35s;
}