.faq-container {
    width: 50%;
    margin: auto;
}

.faq-h1 {
    color: var(--faq-h1-color);
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    font-size: 40px;
    overflow: hidden;
    line-height: 100px;
    text-align: center;
    background-color: var(--faq-h1-background);
    z-index: 2;
    box-shadow: var(--faq-h1-box-shadow);
}

.questions {
    z-index: 1;
    padding-bottom: 100px;
}

.questions .faq .faq-title {
    color: var(--faq-title-color);
    text-align: center;
    top: 100px;
    padding: 50px 40px 20px 40px;
}

.questions .faq .faq-answer {
    color: var(--faq-answer-color);
    padding: 50px;
    text-align: justify;
}

.questions .faq .faq-answer ul {
    margin-left: 50px;
}

.questions .como_hr {
    border-color: var(--faq-hr-border-color);
    width: 75%;
    margin: auto;
}