.perfil_container {
    color: var(--perfil-color);
    display: flex;
    height: 70vh;
    width: 90vw;
}
.perfil_aside {
    user-select: none;
    display: inline-block;
    height: 100%;
    width: 20vw;
    padding: 3em 1em 0 1em;
}

.perfil_aside h2, .perfil_aside .perfil_datos {
    text-align: center;
    padding: 0;
}

.perfil_aside .foto_perfil {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 30px auto 30px auto;
}

.perfil_aside .perfil_stats_hr {
    width: 70%;
    margin: 20px auto;
    border-color: var(--perfil-hr-border-color);
}

.perfil_aside table {
    border-collapse: collapse;
    width: 100%;
}

.perfil_aside table td:first-of-type {
    padding: 5px 0;
    text-align: right;
}

.perfil_aside table td:nth-child(2) {
    width: 30%;
    padding: 5px 10px;
}

.perfil_main {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.perfil_wrapper {
    top: 0;
    width: 100%;
    height: 100%;
}

.perfil_main_tabs {
    position: relative;
    height: 100%;
}

.pmt {
    float: left;
}

.pmt-switch {
    display: none;
}

.pmt-label {
    display: block;
    line-height: 3em;
    height: 3em;
    padding: 0 15px;
    background: var(--perfil-pmt-label-background-color);
    border-right: 1px solid var(--perfil-pmt-label-border-right-color);
    color: var(--perfil-pmt-label-color);
    cursor: pointer;
    transition: all 0.25s;
}

.pmt-content {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 30px;
    left: 0;
    box-shadow: var(--perfil-pmt-content-box-shadow);
    color: var(--perfil-pmt-content-color);
    display: none;
}

.pmt-switch:checked + .pmt-label {
    background: var(--perfil-checked-pmt-label-background-color);
    color: var(--perfil-checked-pmt-label-color);
    z-index: 1;
}

.pmt-switch:checked + label + .pmt-content {
    opacity: 1;
    display: block;
}

.pmt_table {
    width: 100%;
    text-align: center  ;
}

.pmt_table, .pmt_table th, .pmt_table tr, .pmt_table td {
    border-collapse: collapse;
    padding: 15px 5px;
}

.pmt_table tr {
    border: solid 1px var(--perfil-pmt-table-tr-border-color);
}

.pmt_tr:hover {
    background-color: var(--perfil-pmt-tr-hover-background-color);
}

.pmt_table_content {
    width: 50%;
}

.pmt_submit {
    cursor: pointer;
	color: var(--perfil-pmt-submit-color);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 80ms ease-in;
}

.pmt_submit {
	border: 1px solid var(--perfil-pmt-submit-border-color);
	background-color: var(--perfil-pmt-submit-background-color);
}

.pmt_submit:active {
	transform: scale(0.95);
}