:root {
    --body-background: #eee;

    /* DROPDOWN IDIOMA */
    --dropdown-button-background-color: #eee;
    --dropdown-color: #000;
    --dropdown-box-shadow: 0 5px 5px rgb(0 0 0 / 60%), 0 10px 10px rgb(0 0 0 / 60%);
    --dropdown-hover-color: 0 5px 5px rgb(0 0 0 / 60%), 0 10px 10px rgb(0 0 0 / 60%);
    --dropdown-background-color: #eee;
    --dropdown-a-background-color: transparent;
    --dropdown-a-color: #000;
    --dropdown-a-hover-color: rgba(0, 0, 0, 0.1);

    /* THEME BUTTON */
    --theme-button-background-color: #f6f5f7;
    --theme-button-box-shadow: 0 5px 5px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 30%);
    --theme-button-icon-color: #222;
    --theme-button-dark-display: none;
    --theme-button-light-display: block;

    /* INDEX FORM CONTAINER */
    --index-h2-color: #fff;
    --index-button-and-sumbit-color: #fff;
    --index-submit-border-color: #0987db;
    --index-submit-background-color: #0987db;
    --index-ghost-border-color: #FFFFFF;
    --index-form-background-color: #222;
    --index-form-color: #fff;
    --index-input-background-color: #eee;
    --index-error-background-color: rgb(255, 182, 193);
    --index-error-color: red;
    --index-container-background-color: #222;
    --index-container-box-shadow: 0 14px 28px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 25%);

    /* INDEX OVERLAY */
    --overlay-background-color: #0987db;
    --overlay-background-webkit-color: -webkit-linear-gradient(to right, #072f64, #0987db);
    --overlay-background-linear-color: linear-gradient(to right, #072f64, #0987db);

    /* FOOTER */
    --footer-p-color: #fff;
    --footer-a-color: #3c97bf;
    --footer-background-color: #222;
}