:root {
    --body-background: #222;
    --header-background-color: #222;

    /* NAV TAB SELECTORS */
    --tabs-label-color: #fff;
    --tabs-label-hover-border-color: rgba(255, 255, 255, 0.2);
    --tabs-active-label-color: #0987db;
    --tabs-active-label-box-shadow: 0 5px 5px rgb(0 0 0 / 60%), 0 10px 10px rgb(0 0 0 / 60%);
    --tabs-active-label-background: #eee;
    
    /* DROPDOWN IDIOMA */
    --dropdown-button-background-color: #0987db;
    --dropdown-color: #fff;
    --dropdown-box-shadow: 0 5px 5px rgb(0 0 0 / 60%), 0 10px 10px rgb(0 0 0 / 60%);
    --dropdown-hover-background-color: 0 5px 5px rgb(0 0 0 / 60%), 0 10px 10px rgb(0 0 0 / 60%);
    --dropdown-background-color: #eee;
    --dropdown-a-background-color: transparent;
    --dropdown-a-color: #000;
    --dropdown-a-hover-background-color: rgba(0, 0, 0, 0.1);

    /* THEME BUTTON */
    --theme-button-background-color: #f6f5f7;
    --theme-button-box-shadow: 0 5px 5px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 30%);
    --theme-button-icon-color: #000;
    --theme-button-dark-display: none;
    --theme-button-light-display: block;

    /* SETTINGS BUTTON */
    --settings-button-color: #fff;
    --settings-button-background-color: #0987db;
    --settings-button-box-shadow: 0 5px 5px rgb(0 0 0 / 60%), 0 10px 10px rgb(0 0 0 / 60%);

    /* INDEX FORM CONTAINER */
    --index-h2-color: #fff;
    --index-button-and-sumbit-color: #fff;
    --index-submit-border-color: #0987db;
    --index-submit-background-color: #0987db;
    --index-ghost-border-color: #FFFFFF;
    --index-form-background-color: #222;
    --index-form-color: #fff;
    --index-input-background-color: #eee;
    --index-error-background-color: rgb(255, 182, 193);
    --index-error-color: red;
    --index-container-background-color: #222;
    --index-container-box-shadow: 0 14px 28px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 25%);

    /* INDEX OVERLAY */
    --overlay-background-color: #0987db;
    --overlay-background-webkit-color: -webkit-linear-gradient(to right, #072f64, #0987db);
    --overlay-background-linear-color: linear-gradient(to right, #072f64, #0987db);

    /* SECTION */
    --section-background-color: transparent;

    /* PERFIL TAB */

    /* BATTLES TAB */

    /* CREATOR TAB */

    /* ACHIVEMENTS TAB */

    /* FAQ TAB */
    --faq-h1-color: #fff;
    --faq-h1-background: #222;
    --faq-h1-box-shadow: 0px 50px 40px -40px #00000080;
    --faq-title-color: #fff;
    --faq-answer-color: #fff;
    --faq-hr-border-color: #ffffff20;
    
    /* SETTINGS TAB */
    --settings-dropdown-color: #fff;
    --settings-h2-border-color: rgb(255 255 255 / 10%);
    --settings-hover-background-color: #00000040;
    --settings-selected-label-background: #00000080;
    --settings-content-color: #777;
    --settings-input-background-color: #eee;
    --settings-submit-color: #fff;
    --settings-submit-border-color: #0987db;
    --settings-submit-background-color: #0987db;

    /* FOOTER */
    --footer-p-color: #fff;
    --footer-a-color: #3c97bf;
    --footer-background-color: #222;
}