:root {
    --body-background: #f6f5f7;
    --header-background-color: #f6f5f7;

    /* NAV TAB SELECTORS */
    --tabs-label-color: #000;
    --tabs-label-hover-border-color: #FF4B2B;
    --tabs-active-label-color: #fff;
    --tabs-active-label-box-shadow: -3px 7px 6px 0px rgb(0 0 0 / 30%);
    --tabs-active-label-background: #FF4B2B;

    /* DROPDOWN IDIOMA */
    --dropdown-button-background-color: #FF4B2B;
    --dropdown-color: #fff;
    --dropdown-box-shadow: 0 5px 5px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 30%);
    --dropdown-hover-background-color: 0 5px 5px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 30%);
    --dropdown-background-color: #222;
    --dropdown-a-background-color: transparent;
    --dropdown-a-color: #fff;
    --dropdown-a-hover-background-color: rgba(255, 255, 255, 0.1);

    /* THEME BUTTON */
    --theme-button-background-color: #222;
    --theme-button-box-shadow: 0 5px 5px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 30%);
    --theme-button-icon-color: #fff;
    --theme-button-dark-display: block;
    --theme-button-light-display: none;
    
    /* SETTINGS BUTTON */
    --settings-button-color: #fff;
    --settings-button-background-color: #FF4B2B;
    --settings-button-box-shadow: 0 5px 5px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 30%);

    /* INDEX FORM CONTAINER */
    --index-h2-color: #000;
    --index-button-and-sumbit-color: #fff;
    --index-submit-border-color: #FF4B2B;
    --index-submit-background-color: #FF4B2B;
    --index-ghost-border-color: #FFFFFF;
    --index-form-background-color: #FFFFFF;
    --index-form-color: #000;
    --index-input-background-color: #eee;
    --index-error-background-color: rgb(255, 182, 193);
    --index-error-color: red;
    --index-container-background-color: #fff;
    --index-container-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    
    /*  INDEX OVERLAY*/
    --overlay-background-color: #FF416C;
    --overlay-background-webkit-color: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    --overlay-background-linear-color: linear-gradient(to right, #FF4B2B, #FF416C);

    /* SECTION */
    --section-background-color: transparent;

    /* PERFIL TAB */
    --perfil-color: #000;
    --perfil-hr-border-color: rgb(0 0 0 / 10%);
    --perfil-pmt-label-background-color: #222;
    --perfil-pmt-label-border-right-color: #f6f5f7;
    --perfil-pmt-label-color: #fff;
    --perfil-pmt-content-box-shadow: inset 1px 1px 0px 0px rgb(0 0 0 / 10%);
    --perfil-pmt-content-color: #000;
    --perfil-checked-pmt-label-background-color: #FF4B2B;
    --perfil-checked-pmt-label-color: #fff;
    --perfil-pmt-table-tr-border-color: rgb(0 0 0 / 10%);
    --perfil-pmt-tr-hover-background-color: rgba(0, 0, 0, 0.1);
    --perfil-pmt-submit-color: #fff;
    --perfil-pmt-submit-border-color: #FF4B2B;
    --perfil-pmt-submit-background-color: #FF4B2B;

    /* BATTLES TAB */

    /* CREATOR TAB */

    /* ACHIVEMENTS TAB */
    --logros-color: #000;
    --logros-card-hover-box-shadow: inset 0 0 5px #222;
    --logros-ion-icon-color: #000;
    --logros-card-back-color: #000;
    --logros-card-back-box-shadow: inset 0 0 5px #222;
    --logros-total-color: #fff;
    --logros-total-background-color: #FF4B2B;

    /* FAQ TAB */
    --faq-h1-color: #000;
    --faq-h1-background: #f6f5f7;
    --faq-h1-box-shadow: 0px 50px 40px -40px #00000020;
    --faq-title-color: #000;
    --faq-answer-color: #000;
    --faq-hr-border-color: #00000020;

    /* SETTINGS TAB */
    --settings-dropdown-color: #000;
    --settings-h2-border-color: rgb(255 255 255 / 10%);
    --settings-hover-background-color: #00000020;
    --settings-selected-label-background: #00000040;
    --settings-content-color: #777;
    --settings-input-background-color: #eee;
    --settings-submit-color: #fff;
    --settings-submit-border-color: #FF4B2B;
    --settings-submit-background-color: #FF4B2B;

    /* FOOTER */
    --footer-background-color: #222;
    --footer-p-color: #fff;
    --footer-a-color: #3c97bf;
}