:root {
    --body-background: #f6f5f7;

    /* DROPDOWN IDIOMA */
    --dropdown-button-background-color: #222;
    --dropdown-color: #fff;
    --dropdown-box-shadow: 0 5px 5px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 30%);
    --dropdown-hover-color: 0 5px 5px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 30%);
    --dropdown-background-color: #222;
    --dropdown-a-background-color: transparent;
    --dropdown-a-color: #fff;
    --dropdown-a-hover-color: rgba(255, 255, 255, 0.1);

    /* THEME BUTTON */
    --theme-button-background-color: #222;
    --theme-button-box-shadow: 0 5px 5px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 30%);
    --theme-button-icon-color: #fff;
    --theme-button-dark-display: block;
    --theme-button-light-display: none;
    
    /* FORM CONTAINER */
    --index-h2-color: #000;
    --index-button-and-sumbit-color: #fff;
    --index-submit-border-color: #FF4B2B;
    --index-submit-background-color: #FF4B2B;
    --index-ghost-border-color: #FFFFFF;
    --index-form-background-color: #FFFFFF;
    --index-form-color: #000;
    --index-input-background-color: #eee;
    --index-error-background-color: rgb(255, 182, 193);
    --index-error-color: red;
    --index-container-background-color: #fff;
    --index-container-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    
    /* OVERLAY*/
    --overlay-background-color: #FF416C;
    --overlay-background-webkit-color: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    --overlay-background-linear-color: linear-gradient(to right, #FF4B2B, #FF416C);
    
    /* FOOTER */
    --footer-background-color: #222;
    --footer-p-color: #fff;
    --footer-a-color: #3c97bf;
}