@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--body-background);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	overflow: hidden;
	margin: -20px 0 50px;
}

header {
	position: absolute;
	top: 0;
	height: 80px;
	width: 100vw;
	background-color: var(--header-background-color);
	z-index: 999;
}

/* NAV TABS SELECTORS */

.tabs__radio{ 
    display: none;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
	position: absolute;
	left: 30px;
	top: 20px;
	width: max-content;
	font-size: 13px;
	height: 38px;
	z-index: 99;
}

.tabs__label {
	display: inline-block;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
    cursor: pointer;
	padding: 0 15px;
	margin: 0 5px;
	color: var(--tabs-label-color);
	z-index: 1;
}

.tabs__label:hover {
	border-radius: 40px;
	background-color: var(--tabs-label-hover-background-color);
}

.tabs__label.active {
	background-color: var(--tabs-active-label-background);
	color: var(--tabs-active-label-color);
	border-radius: 40px;
	box-shadow: var(--tabs-active-label-box-shadow);
}

/* SELECTOR IDIOMA */

.selectors {
	position: absolute;
	display: flex;
	top: 20px;
	right: 30px;
	z-index: 99;
}

.dropdown button {
	border: none;
	background-color: var(--dropdown-button-background-color);
	color: var(--dropdown-color);
	box-shadow: var(--dropdown-box-shadow);
}

.dropdown > ul {
	background-color: var(--dropdown-background-color);
	margin-top: 10px;
	transform: translateY(-200px);
	opacity: 0;
    transition: all .4s ease-in-out;
}

.dropdown > button:focus + ul {
	transform: translateY(0);
	opacity: 1;
}

.dropdown > ul > li {
	list-style: none;
}

.dropdown > ul > li > a {
	padding: 10px 15px;
	margin: 0;
	display: block;
	background-color: var(--dropdown-a-background-color);
	color: var(--dropdown-a-color);
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.dropdown > ul > li > a:hover {
	background-color: var(--dropdown-a-hover-color);
}

/* FORMULARIO TEMA */

.theme-form {
	padding: 0;
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	overflow: hidden;
}

.theme-form > button {
	width: 40px;
	height: 40px;
	padding: 0;
	position: absolute;
	border: none;
	background-color: var(--theme-button-background-color);
	box-shadow: var(--theme-button-box-shadow);
}

button > ion-icon {
	font-size: 20px;
	color: var(--theme-button-icon-color);
}

.dark {
	display: var(--theme-button-dark-display);
}

.light {
	display: var(--theme-button-light-display);
}

/* SETTINGS BUTTON */

.settings {
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	border-radius: 40px;
	margin-left: 20px;
	overflow: hidden;
	border: none;
	color: var(--settings-button-color);
	background-color: var(--settings-button-background-color);
	box-shadow: var(--settings-button-box-shadow);
}

.settings label {
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.settings label ion-icon {
	width: 20px;
	height: 40px;
}

/* CONTENIDO PRINCIPAL */

button {
    cursor: pointer;
	border-radius: 20px;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

section {
	display: flex;
	justify-content: center;
	background-color: var(--section-background-color);
	z-index: 1;
}

.tabs__content {
    display: none;
}

.tabs__content::-webkit-scrollbar {
    display: none;
}

#perfil:checked ~ section .tab__1,
#batallas:checked ~ section .tab__2,
#elementos:checked ~ section .tab__3,
#logros:checked ~ section .tab__4,
#como:checked ~ section .tab__5,
#ajustes:checked ~ section .tab__6 {
    display: block;
}

/* FOOTER */

footer {
    background-color: var(--footer-background-color);
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
	z-index: 99;
}

footer p {
    margin: 10px 0;
    color: var(--footer-p-color);
}

footer a {
    color: var(--footer-a-color);
    text-decoration: none;
}